{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://image.cnbcfm.com/api/v1/image/105312566-1530803740357gettyimages-815863456.jpeg?v=1532563619&w=1200&h=330&q=85" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Pushime Verore</h5>
        <p>Eksploroni vendet me te bukura per pushimet e juaja verore.</p>
        <div>
          
          <p>Check out <a href="https://www.bing.com/images/search?q=albania+south+beaches&qpvt=albania+south+beaches&FORM=IGRE" target="_blank" style="color: aliceblue;"> Albania South Beaches</a>.</p>

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1525980770223-6538a13f171e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG1vdW50YWluJTIwdmlsbGFnZSUyMHNub3d8ZW58MHx8MHx8&auto=format&fit=crop&w=1200&h=330&q=85" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p>Eksploroni vendet me te bukura per pushimet e juaja dimerore.</p>
        <p>Check out  Albania Muontains:</p>
       
        <a class="btn btn-success" href="https://www.bing.com/images/search?q=vendet+me+te+bukura+malore+ne+shqiperi&qpvt=vendet+me+te+bukura+malore+ne+shqiperi&form=IGRE&first=1&tsc=ImageHoverTitle" target="_blank">Click Here</a>

       
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1489493585363-d69421e0edd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZGVzZXJ0cyUyMGNhbWVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1200&h=330&q=85" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Eksploroni shkretetiren</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
      <a class="btn btn-success" href="<a class="btn btn-success" href="https://www.bing.com/images/search?q=vendet+me+te+bukura+malore+ne+shqiperi&qpvt=vendet+me+te+bukura+malore+ne+shqiperi&form=IGRE&first=1&tsc=ImageHoverTitle" target="_blank">Click Here</a>" target="_blank">Click Here</a>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1564750576234-75de3cc54053?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YW1hem9uaWF8ZW58MHx8MHx8&auto=format&fit=crop&w=1200&h=330&q=85" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="color-properties">
  <a href="{% url 'popular_attraction' %}">Popular Attractions</a>
  <a href="{% url 'book_trip' %}">Book a Trip</a>
</div>

{% endblock content %}
