{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://image.cnbcfm.com/api/v1/image/105312566-1530803740357gettyimages-815863456.jpeg?v=1532563619&w=1200&h=330&q=85" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: snow; font-weight: bolder;">Summer Vacation</h5>
        <p>Explore the magic of summer days with your family.</p>
        <a class="btn btn-success" href="https://www.expedia.com/Vacation-Packages" target="_blank" style="color: aliceblue;">Click here</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1525980770223-6538a13f171e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG1vdW50YWluJTIwdmlsbGFnZSUyMHNub3d8ZW58MHx8MHx8&auto=format&fit=crop&w=1200&h=330&q=85" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: snow; font-weight: bolder;">Winter Vacation</h5>
        <p>Travel through the most beautiful mountains.</p>
        <a class="btn btn-success" href="https://www.expedia.com/Vacation-Packages" target="_blank" style="color: aliceblue;">Click Here</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1489493585363-d69421e0edd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZGVzZXJ0cyUyMGNhbWVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1200&h=330&q=85" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5  style="color: snow; font-weight: bolder;">Desert Exploration</h5>
        <p>Have you ever been to the desert?</p>
        <a class="btn btn-success" href="https://www.expedia.com/Vacation-Packages" target="_blank" style="color: aliceblue;">Click Here</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1564750576234-75de3cc54053?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YW1hem9uaWF8ZW58MHx8MHx8&auto=format&fit=crop&w=1200&h=330&q=85" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: snow; font-weight: bolder;">Amazonia</h5>
        <p>Travel through the Amazonian tropical wonders.</p>
        <a class="btn btn-success" href="https://www.expedia.com/Vacation-Packages" target="_blank" style="color:aliceblue;">Click here</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br></br>
<div>

<h1 style="text-align:center; font-size: xx-large; padding: 5px; font-weight: bold;color: yellowgreen;"> Popular Attraction</h1>

</div>
  <div class="row">
    <div class="column">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-italy-cinque-terre-santa-margherita-00-index-1541710953.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Snow" style="width:100%; height: 190px;">
    <label style="display: flex; justify-content: center; font-weight: bold">Amalfi Coast</label>
    </div>
    <div class="column">
      <img src="https://drprem.com/travel/wp-content/uploads/sites/53/2013/09/Sagrada-Familia-basilica-in-Barcelona.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Forest" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Barcelona</label>
    </div>
    <div class="column">
      <img src="https://i0.wp.com/handluggageonly.co.uk/wp-content/uploads/2016/01/Paris-2.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Mountains" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Paris</label>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2019/03/Nyhavn-pier-Denmark.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Snow" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Copenhagen</label>
    </div>
    <div class="column">
      <img src="https://fthmb.tqn.com/gVZn1TGZ1TWW8ns-ZmSWjDCCjIo=/5315x3543/filters:fill(auto,1)/germany--baden-wrttemberg--stuttgart--view-of-market-in-christmas-at-night-116379349-5b0c367904d1cf0036e41ce1.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Forest" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Munich</label>
    </div>
    <div class="column">
      <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2020/02/Tourist-Places-In-Dubai_9th-jun.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Mountains" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Dubai</label>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="https://images.squarespace-cdn.com/content/v1/5cd57d59ca525b7e9eae595c/1559933314094-9G3N0X3SE3ZYXNANDPIF/_MG_2882.jpg?format=1500w?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Snow" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Prague</label>
    </div>
    <div class="column">
      <img src="https://www.tripsavvy.com/thmb/aP9u99KRa6_nu5RFt2lpSXTuYBY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/view-of-canal-in-amsterdam-923546342-5c7443b546e0fb000143629e.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Forest" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Amsterdam</label>
    </div>
    <div class="column">
      <img src="https://sumfinity.com/wp-content/uploads/2018/01/DSC8722-JPG-1080x720.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Mountains" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Vienna</label>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="https://4.bp.blogspot.com/-komnB-pgOrk/UR9eSfIRj3I/AAAAAAAAB70/2FO6rtwBe5Q/s1600/rio-de-janeiro-wallpapers-1.jpeg?format=1500w?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Snow" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Rio de Janeiro</label>
    </div>
    <div class="column">
      <img src="https://media.architecturaldigest.com/photos/584b39d8a89ebf6d04302088/master/w_1600%2Cc_limit/beaux-arts-buenos-aires-01.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Forest" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Buenos Aires</label>
    </div>
    <div class="column">
      <img src="https://www.tripsavvy.com/thmb/53VkDONX1dDDww7J4Lps2lwGczU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/10710818_10152754837514402_8257120252216411730_nWEB-bf8d51bdf901484384bba2560f391d62.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Mountains" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Lima</label>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="https://www.tripexperienceblog.com/wp-content/uploads/2018/04/bali-tourism-798x650.jpg?format=1500w?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Snow" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Bali</label>
    </div>
    <div class="column">
      <img src="https://travelyourway.net/wp-content/uploads/2020/01/visit-to-sensoji-temple-tokyo-japan-960x641.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Forest" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Tokyo</label>
    </div>
    <div class="column">
      <img src="http://s1.picswalls.com/wallpapers/2014/08/08/beautiful-singapore-wallpaper_020722773_173.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Mountains" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Singapore</label>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="https://allhdwallpapers.com/wp-content/uploads/2015/06/Sydney-5.jpg?format=1500w?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Snow" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Sydney</label>
    </div>
    <div class="column">
      <img src="https://img.theculturetrip.com/1440x807/smart/wp-content/uploads/2020/09/cf7cfh-e1599176950484.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Forest" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">Wellington</label>
    </div>
    <div class="column">
      <img src="http://www.viralplaces.com/wp-content/uploads/2015/09/bora-bora-680115_1920.jpg?crop=0.984xw:0.984xh;0,0&resize=980:*" alt="Mountains" style="width:100%; height: 190px;">
      <label style="display: flex; justify-content: center; font-weight: bold">French Polynesia</label>
    </div>
  </div>

  <br></br>

  <div style="text-align:center; background-color: aliceblue">
    <a style="text-align:center; font-size: x-large; font-weight: bold" href="{% url 'book_trip' %}">Book your own Trip</a>
  </div>

  <br></br>
  <br></br>

{% endblock content %}
