{% extends 'base.html' %}

{% block content %}
    <div class="airport">
                <label>From</label>
                <input id="dropdown-input-from"
                    name="dropdown-input"
                    class="Search-Select--Hidden-Input"
                    placeholder="Pick Departing Airport"
                    data-search-placeholder="Search Airports"
                    hidden/>


                <label>To</label>
                <input id="dropdown-input-to"
                    name="dropdown-input"
                    class="Search-Select--Hidden-Input"
                    placeholder="Pick Arrival Airport"
                    data-search-placeholder="Search Airports"
                    hidden/>

    </div>
                    
{% endblock %}

{% block extrascripts %}
{{ airports|json_script:"airport-list" }}
<script>
const airportListElem = document.querySelector("#airport-list");
const airports = JSON.parse(airportListElem.innerText);
const airportNames = airports.map(airport => airport.name);

const searchSelectDeparting = new SearchSelect('#dropdown-input-from', {
    data: airportNames,
    filter: SearchSelect.FILTER_CONTAINS,
    sort: undefined,
    inputClass: 'form-control mobile-field',
    maxOpenEntries: 9,
    searchPosition: 'top',
    onInputClickCallback: function(ev) { console.log('Input Clicked') },
    onInputKeyDownCallback: function(ev) { console.log('Input Key Down') },
});

const searchSelectArrival = new SearchSelect('#dropdown-input-to', {
    data: airportNames,
    filter: SearchSelect.FILTER_CONTAINS,
    sort: undefined,
    inputClass: 'form-control mobile-field',
    maxOpenEntries: 9,
    searchPosition: 'top',
    onInputClickCallback: function(ev) { console.log('Input Clicked') },
    onInputKeyDownCallback: function(ev) { console.log('Input Key Down') },
});
</script>
{% endblock extrascripts %}