{% load i18n %}
<header>
  <a href="/" class="logo">PyTravel<small>.al</small></a>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
      <li><a href="{% url 'about_us' %}">{% translate 'About Us' %}</a></li>
      <li><a href="{% url 'contact_us' %}">{% translate 'Contact Us' %}</a></li>
      <li><a href="{% url 'privacy_policy' %}">{% translate 'Privacy Policy' %}</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
      <li><a href="{% url 'auth_logout' %}">{% translate 'Logout' %}</a></li>
      {% else %}
      <li><a href="{% url 'auth_login' %}">{% translate 'Login' %}</a></li>
      <li><a href="{% url 'registration_register' %}">{% translate 'Register' %}</a></li>
      {% endif %}
    </ul>
  </nav>
</header>